body{
  font-family: "Times New Roman", serif;
  font-size: 16px;
  background-color: #efeff5;
  margin: 0;
}

#herrebukser{
  margin-left: 170px;
}

img {
  width: 100%;
}

nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
  width: 100%;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  height: 45px;
}

.navbar>li {
  border-right: 2px solid white;
}

.navbar>li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar>li .inactive:hover {
  background-color: grey;
}

.navbar_2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 170px;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    left: 0;
    top: 360px;
    overflow: auto;
}

.navbilder {
  height: 25px;
  width: 25px;
}

header>img {
  width: 40px;
}

section {
  margin-top: 20px;
}

.active {
  background-color: grey;
}

.inactive {
  background-color: darkgrey;
}

#logo {
  color: black;
  font-size: 24px;
}

#herrebukser {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 5px;
  padding-left: 35px;
  padding-right: 35px;
}

#index {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 5px;
  padding-left: 35px;
  padding-right: 35px;
}

.produkt, .indexprodukt {
  grid-column: span 1;
  grid-row: span 1;
}

.mellomrom {
  grid-column: span 1;
}

.produktnavn, .merkenavn, .pris {
  background-color: #ffffff;
}

.bilde {
  width: 100%;
}

.indexprodukt {
  grid-column: span 1;
  grid-row: span 1;
}

.bestselgere {
  grid-column: span 6;
  grid-row: span 1;
  background-color: blue;
}

.buksersko {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column: span 2;
  background-color: green;
}

.bildebuksersko {
  grid-column: span 2;
  grid-row: span 1;
}

.herredamebarn {
  grid-column: span 2;
  background-color: yellow;
}

.usynlig {
  grid-column: span 3;
  grid-row: span 2;
}

.produktnavn {
  font-weight: bold;
}
