body{
  font-family: "Times New Roman", serif;
  font-size: 16px;
  background-color: #efeff5;
  margin: 0;
}

header{
  background-color: white;
}

#herrebukser{
  margin-left: 170px;
}

img {
  width: 100%;
}

nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #ffffff;
  width: 100%;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  height: 45px;
}

.navbar>li {
  border-right: 2px solid white;
}

.navbar>li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar>li .inactive:hover {
  background-color: grey;
}

.indexprodukt>a, .produkt>a, .andreprodukter>a{
  text-decoration: none;
  color: black;
}

.navbar_2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 170px;
  background-color: #f1f1f1;
  height: 100%;
  position: fixed;
  left: 0;
  top: 185px;
  overflow: auto;
}

.navbilder {
  height: 25px;
  width: 25px;
}

header>img {
  width: 40px;
}

section {
  margin-top: 20px;
}

.active {
  background-color: grey;
}

.inactive {
  background-color: darkgrey;
}

.active2{
  font-weight: bold;
}

.liste{
  text-decoration: none;
  color: black;
}

#logobilde{
  height: 40%;
  width: 40%;
}

#logotrykk{
  width: 1000px;
  background-color: red;
}

.kjopdameherre {
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.kjopdameherre:hover{
  font-style: italic;
}

#logo {
  color: black;
  font-size: 24px;
}

#herrebukser {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 5px;
  padding-left: 35px;
  padding-right: 35px;
}

#index {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 5px;
  padding-left: 35px;
  padding-right: 35px;
}

#produktinformasjon {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 5px;
  padding-left: 35px;
  padding-right: 35px;
}

.produkt, .indexprodukt {
  grid-column: span 1;
  grid-row: span 1;
}

.mellomrom {
  grid-column: span 1;
}

.produktnavn, .merkenavn, .pris {
  background-color: #ffffff;
}

.bilde {
  width: 100%;
}

.indexprodukt {
  grid-column: span 1;
  grid-row: span 1;
}

.bestselgere {
  grid-column: span 6;
  grid-row: span 1;
}

.buksersko {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column: span 2;
  position: relative;
}

.bildebuksersko {
  grid-column: span 2;
  grid-row: span 1;
}

.dame{
  position: absolute;
  bottom: 2%;
  right: 2%;
}

.mann{
  position: absolute;
  bottom: 2%;
  left: 2%;
}

.herredamebarn {
  grid-column: span 2;
}

.usynlig {
  grid-column: span 3;
  grid-row: span 2;
}

.produktnavn {
  font-weight: bold;
}
.tilbake {
  grid-column: span 3;
  grid-row: span 1;
  background-color: yellow;
}
.stortbilde {
  grid-column: span 1;
  grid-row: span 2;
  background-color: blue;
}
.litebilde {
  grid-column: span 1;
  grid-row: span 1;
  background-color: red;
}

.info {
  grid-column: span 1;
  grid-row: span 2;
  background-color: white;
}

.lignendeprodukter {
  grid-column: span 3;
  grid-row: span 1;
}

.andreprodukter {
  grid-column: span 1;
  grid-row: span 1;
}

select {
  margin-top: 1em;
  width: 95%;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: lightgrey;
  font-weight: bold;
}

button {
  width: 95%;
  margin-top: 2em;
  background-color: darkorange;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  height: 50px;
}

.merkelogo {
  width: 60%;
}

.dropdown>p {
  padding: 0;
  margin: 0;
  font-size: 30px;
}

.navnpåprodukt {
  font-weight: bold;
}

.bestselgere, .lignendeprodukter {
  margin-top: 3em;
}

.ønskelisteikon {
  height: 35px;
  width: 35px;
}

.merkelogobilde {
  height: 58px;
  width: 218px;
}

.merkelogobilde2 {
  height: 58px;
  width: 246px;
}

/* Dette er til "pos2_produktinformasjon" som er en 404 (Not found) side */

#bodynotfound {
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 240px;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.notfound .notfound-404 h1>span {
  text-shadow: -8px 0px 0px #fff;
}

.notfound .notfound-404 h3 {
  font-family: 'Cabin', sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}

.notfound h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-top: 0px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 200px;
  }
  .notfound .notfound-404 h1 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 162px;
  }
  .notfound .notfound-404 h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .notfound h2 {
    font-size: 16px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Her er koden til pos2_produktinformasjon over */
