body{
  font-family: "Times New Roman", serif;
  font-size: 16px;
  background-color: lightgrey;
  margin: 0;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 5fr 1fr 1fr 1fr;
  background-color: black;
  margin-bottom: 5px;
}

.lenke{
  align-self: center;
}

a{
  text-decoration: none;
  color: grey;
  font-weight: bold;
}

#logo>h3{
  color: white;
  font-family: century;
  margin: 1px;
}

main{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px,auto);
  padding-left: 35px;
  padding-right: 35px;
}

img{
  width: 100%;
}

.litenSak{
  grid-column: span 1;
  grid-row: span 1;
  background-color: red;
}

.middelsSak{
  grid-column: span 2;
  grid-row: span 2;
  background-color: green;
}

.storSak{
  grid-column: span 3;
  grid-row: span 3;
  background-color: blue;
}
