body{
  font-family: "Times New Roman", serif;
  font-size: 16px;
  background-color: #efeff5;
  margin: 0;
}

img{
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  border-right: 2px solid white;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: grey;
}

.active {
  background-color: grey;
}

.inactive {
  background-color: darkgrey;
}

#logo{
  color: black;
  font-size: 24px;
}

#herrebukser{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 5px;
  padding-left: 35px;
  padding-right: 35px;
}

#index{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 5px;
  padding-left: 35px;
  padding-right: 35px;
}

.produkt{
  grid-column: span 1;
  grid-row: span 1;
}

.produktnavn, .merkenavn, .pris{
  background-color: #ffffff;
}

.bilde{
  width: 100%;
}

.indexprodukt{
  grid-column: span 2;
  background-color: red;
}

.bestselgere{
  grid-column: span 6;
  background-color: blue;
}

.buksersko{
  grid-column: span 3;
  background-color: green;
}

.herredamebarn{
  grid-column: span 2;
  background-color: yellow;
}

.usynlig{
  grid-column: span 3;
  grid-row: span 2;
}
.produktnavn{
  font-weight: bold;
}
