/* Gjelder for hele alle elementer */
* {
  padding: 0; /* For å kunne angi padding på alle objekter selv */
  margin: 0; /* For å kunne angi margin på alle objekter selv */
  color: black; /* All skrift er svart, med mindre noe annet er spesifisert */
  text-decoration: none; /* For å angi alle font-dekorasjoner selv */
}

/* Felles for alle bilder */
img {
  width: 100%; /* Alle bilder dekker nå 100% av sitt angitte område, med mindre noe annet er spesifisert */
}

/* Dette er for at alt innholdet på "produkter.html" skal forskyves */
#headerprodukter, #articleprodukter, #mainprodukter, #footerprodukter {
  margin-left: 11em; /* De tidligere 10em, i tillegg til 1em ekstra for å få litt ekstra rom */
  margin-right: 1em; /* Må gjøres på både venstre- og høyresiden */
}

/* For å sette en margin på hele forsiden */
#headerforside, #mainforside, #footerforside, #headerproduktinformasjon {
  margin-left: 1em;
  margin-right: 1em;
}

/* For overskriftene i footeren */
.footerOverskrift {
  font-weight: bold;
  font-size: 1.2em;
}

/* For underoverskriftene i footeren */
.footerInnhold {
  font-style: italic;
  font-size: 1em;
}

/* Det som skjer når musepekeren hoverer over innholdet i footeren */
.footerOverskrift:hover, .footerInnhold:hover {
  text-decoration: underline; /* Understreket */
}

footer {
  display: grid;
  grid-gap: 0.35em;
  padding-left: 2em;
  padding-right: 2em;
  margin: 2em 0;
}

footer {
  grid-template-columns: repeat(6,1fr);
  background-color: white;
  margin-top: 6em;
  padding-top: 0;
  margin-bottom: 1em;
}

/* Dette er for sidebaren på "produkter.html"-siden */
#sidenav {
  height: 100%; /* Dekker hele høyden av skjermen */
  width: 10em;
  position: fixed;
  z-index: 1; /* For at den skal holde seg på toppen */
  top: 0; /* Ingen avstand fra toppen */
  left: 0; /* Ingen avstand fra venstre */
  background-color: white; /* Hvit bakgrunnsfarge */
  border-right: 0.1em solid black; /* For å ha en svak skillevegg mellom sidebaren og resten av innholdet */
  overflow-x: hidden; /* For å deaktivere horisontal scrolling */
  padding-top: 1.25em;
}

#sidenav a {
  padding: 0.375em 0.5em 0.375em 1em;
  font-size: 1.25em; /* Skriftstørrelse 20 */
  color: black; /* Skriften er svart */
  display: block;
}

#sidenav a:hover {
  font-weight: bold; /* Når musepekeren er over et av elementene på sidebaren, blir den fet */
}

/* Gjelder for elementene i navbaren */
.navProduktHref {
  float: left; /* Flyter mot venstre */
}

.navEkstraHref {
  float: right; /* Flyter mot høyre */
}

/* For at alle salgsvarer, i tillegg til knappen som viser salgsvarer er rød */
#navSalg, .tilbudspris {
  color: red;
}

#mainprodukter {
  display: grid;
  grid-template-columns: repeat(4,1fr); /* Samme som om man skriver: grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-gap: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

#mainforside, #mainproduktinformasjon {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 0.5em;
}

#videoforside {
  grid-column: span 6;
  grid-row: span 1;
  text-align: center;
  margin-top: 1em;
}

#videoInfo {
  font-weight: bold;
  font-size: 1.2em;
}

.overskrift {
  grid-column: span 6;
  grid-row: span 1;
  text-align: center;
  font-size: 1.5em;
  margin-top: 1em;
}

.secForside, .secSalgForside, .secProduktLignende {
  grid-column: span 6;
  grid-row: span 1;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-column-gap: 0.5em;
}

.secProduktLignende {
  margin-left: 1em;
  margin-right: 1em;
}

.secForsideElement {
  grid-column: span 1;
}

.stortBilde {
  grid-column: span 2;
  grid-row: span 1;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.secKlaer {
  display: grid;
  grid-template-columns: repeat(6,1fr);
}

.bilde {
  grid-column: span 6;
  grid-row: span 1;
  text-align: center; /* Midtstilles */
}

.produktnavn {
  grid-column: span 6;
  grid-row: span 1;
  text-align: left; /* Liker også å skrive "text-align: left;" for å ha oversikt */
}

.merkenavn {
  grid-column: span 6;
  grid-row: span 1;
  text-align: left;
}

.originalpris {
  grid-column: span 2;
  grid-row: span 1;
  text-align: left;
}

.tilbud {
  grid-column: span 1;
  grid-row: span 1;
  text-align: left;
}

.tilbudspris {
  grid-column: span 3;
  grid-row: span 1;
  text-align: right; /* Høyrestilt */
}

/* For logoen på toppen, på alle undersidene */
#logobilde {
  height: 150px; /* Logoen er egentlig 200px*1000px, så dette er 75% av originalstørrelse */
  width: 750px;
}

/* For at området hvor dropdown-menyene befinner seg skal se litt annerledes ut enn navbaren */
#articleprodukter {
  margin-left: 12em; /* Navbaren sin margin er på 11em */
  margin-right: 2em; /* Navbaren sin margin er på 1em */
}

/* For dropdown-menyene på "produkter.html"-siden */
.dropbtn {
  background-color: grey; /* Grå bakgrunnsfarge */
  color: white; /* Hvit skrift */
  padding: 1em;
  font-size: 1em; /* Skriftstørrelse 16 */
  border: none;
  cursor: pointer; /* For at musepekeren ikke skal endre seg */
  margin: 0.75em 0;
}

.dropdown {
  position: relative;
  display: inline-block; /* Dropdownene står ved siden av hverandre */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 10em; /* Innholdet i dropdown-menyen tar minst 10em */
  box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 0.75em 1em; /* Oppe og nede er det 0.75em, mens til venstre og høyre er det 1em */
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block; /* For at innholdet i dropdown-menyene skal vises når musepekeren er over */
}

.dropdown:hover .dropbtn {
  background-color: lightgrey; /* Lysegrå bakgrunnsfarge etter at musepekeren har vært over */
}

#tilbake {
  grid-column: span 6;
  grid-row: span 1;
}

.secProduktinfo {
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-auto-rows: minmax(0,auto);
  grid-column-gap: 0.5em;
  grid-row-gap: 0.45em;
  margin-left: 13em;
  margin-right: 13em;
}

.stortBildeProduktinfo {
 grid-column: span 2;
 grid-row: span 2;
}

.liteBildeProduktinfo {
  grid-column: span 1;
  grid-row: span 1;
}

.liteBildeProduktinfo>img {
  height: 100%;
}

.infoProduktinfo {
  grid-column: span 2;
  grid-row: span 2;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap: 0;
  grid-auto-rows: minmax(0,auto);
}

.tilbudProduktinfo, .tilbudsprisProduktinfo, .originalprisProduktinfo {
  grid-column: span 1;
  grid-row: span 1;
}

.produktnavnProduktinfo, .merkenavnProduktinfo, .skjema, .friFrakt, .sendetid {
  grid-column: span 3;
  grid-row: span 1;
}

/* For navbaren, som er på alle undersidene */
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 0.1em solid #e7e7e7;
  background-color: #ffffff;
  width: 100%; /* Dekker 100% av skjermen, minus de tidligere 16em, pluss 1em ekstra på hver side */
  border-top: 0.1em solid #e7e7e7;
  border-bottom: 0.1em solid #e7e7e7;
  height: 3em;
}

#navbar>li {
  border-right: 0.15em solid white;
}

#navbar>li>a {
  display: block;
  text-align: center;
  padding: 0.8em 1em;
}
