* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  display: grid;
  /*background-color: purple;
  background-image: url(Hval.jpg);*/
  background-size: cover;
  background-repeat: no-repeat;
}

.bilde, img {
  width: 100%;
}

@media(max-width: 1400px) {
  body {
    /*background-color: yellow;
    background-image: url(Bukser.jpeg);*/
  }
}

@media(max-width: 1000px) {
  body {
    /*background-color: green;
    background-image: url(Gensere.jpeg);*/
  }
}

@media(max-width: 800px) {
  body {
    /*background-color: red;
    background-image: url(Sko.jpeg);*/
  }
}

@media(max-width: 600px) {
  body {
    /*background-color: blue;
    background-image: url(Hval.jpg);*/
  }
}

header {
  margin-top: 1em;
}

/* Navigasjonsbar */

header>nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*justify-content: space-between;*/
  align-items: center;
}

@media(max-width: 500px) {
  header>nav {
    flex-direction: column;
  }
}

/* Navigasjonsbar slutt */

main {
  margin-top: 3em;
}

.matretter {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 5px;
  padding-left: 35px;
  padding-right: 35px;
  grid-template-columns: span 1;
  grid-template-rows: span 1;
  margin-top: 3em;
}

@media(max-width: 900px) {
  .matretter {
    grid-template-columns: repeat(3,1fr)
  }
}

@media(max-width: 600px) {
  .matretter {
    grid-template-columns: repeat(2,1fr)
  }
}

@media(max-width: 400px) {
  .matretter {
    grid-template-columns: repeat(1,1fr)
  }
}

.info {
  text-align: center;
}

#flex {
  width: 15px;
  height: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bread, .meat {
  height: 5px;
  width: 15px;
}

.bread {
  background-color: brown;
}

.meat {
  background-color: red;
}
